.red-box{
    height: 50px;
    width: 50px;
    background-color: red
}

.black-box{
    height: 50px;
    width: 50px;
    background-color: black
}

#red-box{
    height: 400px;
    width: 400px;
    background-color: red
}

#black-box{
    height: 200px;
    width: 200px;
    background-color: black
}

.margin{
border-right-style: solid;
border-left-width: 47px;border-left-style: solid;padding-left: 4px;padding-right: 0px;border-right-width: 0px;"
}